<ul id="listview" aria-label="list with static data" data-bind="ojComponent: {component: 'ojListView', data: dataSource,item: {template: 'item_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 10}}">
</ul>
<script type="text/html" id="item_template">
<li data-bind="attr: {id: $data['url']}">
  <div class="container">
    <div>
      <span class="name" data-bind="text: url"></span>
    </div>
    <div>
      <span class="oj-text-xs oj-text-secondary-color" data-bind="text: rotation_period"></span>
    </div>
  </div>
</li>
</script>
